{% extends "ui_pages/base.html" %}

{% block page_title %}Developer API{% endblock %}

{% block page_content %}
<section class="content-section">
    <div class="content-section__content">
        <h1>Developer API</h1>
        <p>
            The primary purpose of this website is to build a GIF database that anyone is free to search through.
            We host a simple API that any client can use to find GIFs without the need for authentication or an API key.
            Note that the API may impose rate limiting based on IP address in order to prevent bot abuse.
        </p>
        <h2>Searching for GIFs</h2>
        <p>GIFs are organized by search terms called "tags". When the user types text to search for a GIF, the tags are used to identify GIFs.</p>
        <p>
            <strong>Request Method:</strong>
            GET
        </p>
        <p>
            <strong>Request URL:</strong>
            https://{{ website_host }}/api/v1/search
        </p>
        <p>
            <strong>Request Query Parameters:</strong>
            <table>
                <tr>
                    <td>q</td>
                    <td>The search text used to find a GIF.</td>
                </tr>
            </table>
        </p>
        <p>
            <strong>Response Body Example:</strong>
            <code>{
    "results": [
        {
            "cid": "ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789",
            "filename": "example1.gif",
            "description": "Dog fetching a frisbee"
        },
        {
            "cid": "ABCDEFGHIJKLMNOPQRSTUVWXYZ123456780",
            "filename": "example2.gif",
            "description": "Flying a kite"
        }
    ]
}</code>
        </p>
        <p>
            The "cid" is the content ID of the GIF as hosted on <a href="https://ipfs.tech">IPFS</a>. You can build a link to the GIF
            by using any <a href="https://docs.ipfs.tech/how-to/gateway-best-practices/#selecting-a-gateway-type-to-use">IPFS gateway</a>
            of your choice. For example, using the demo search response above:
        </p>
        <p>
            https://ipfs.io/ipfs/<strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789</strong>?filename=example1.gif
        </p>
    </div>
</section>
{% endblock %}
