{% extends "ui_pages/base.html" %}

{% block page_title %}Privacy Policy{% endblock %}

{% block page_content %}
<section class="content-section">
    <div class="content-section__content">
        <h1>Privacy Policy</h1>
        <p>
            Last Updated: June 30, 2026
        </p>
        <p>
            This privacy policy (“Privacy Policy”) describes the policies and procedures of this website (“we”, “our” or “us”)
            regarding the collection, use and disclosure of your information in connection with your use of the website (the “Site”),
            our mobile applications, and the services, features, or content we offer (collectively with the Site, our “Services”).
            We receive information about you from various sources, including: (i) your use of our Services generally; and (ii)
            from third-party websites and services. When you use our Services, you are consenting to the collection, transfer,
            manipulation, storage, disclosure, and other uses of your information as described in this Privacy Policy.
        </p>
        <h2>What Does This Privacy Policy Cover?</h2>
        <p>
            This Privacy Policy covers our treatment of your personally identifiable information (“Personal Data”) gathered when
            you are using or accessing our Services. This Privacy Policy also covers our treatment of any Personal Data that our
            business partners disclose to us or that we disclose to our business partners.
        </p>
        <p>
            This Privacy Policy does not apply to the practices of third parties that we do not own or control, including but not
            limited to any third-party websites, services and applications (each a “Third-Party Service”) that you elect to access
            through our Services or to individuals that we do not manage or employ. While we attempt to facilitate access only to
            those Third-Party Services that share our respect for your privacy, we cannot take responsibility for the content or
            privacy policies of those Third-Party Services. We encourage you to carefully review the privacy policies of any
            Third-Party Services you access.
        </p>
        <h2>What Personal Data Do We Collect About You?</h2>
        <p>
            We collect Personal Data about you when you provide it directly to us, when third parties, such as our business partners
            or service providers, provide us with Personal Data about you, or when Personal Data about you is automatically collected
            in connection with your use of our Services.  The Personal Data we gather enables us to improve, understand, and
            continue to operate our Services. In connection with certain aspects of our Services, we may request, collect and/or
            display some of your Personal Data. Below explains in greater detail the types of Personal Data that we collect about our users.
        </p>
        <h3>Personal Data You Provide to Us</h3>
        <p>
            <em>User Content:</em>
        </p>
        <p>
            Some features of our Services allow you to provide content to our Services and related Personal Data if you so choose
            (together, “User Content”). User Content includes GIFs, links, and pictures. After your access to our Services is terminated,
            we may retain and continue to use and disclose certain User Content (e.g., a GIF you provided that was subsequently
            shared by another user) and related data (e.g., technical specifications of a GIF) in a manner that does not reveal
            Personal Data, as described in this Privacy Policy.
        </p>
        <h3>Personal Data From Others</h3>
        <p>
            As mentioned above, you may be able to register for or access our Services using a Third-Party Service, such as your
            social media account (e.g., Facebook, Twitter, etc.).  Occasionally, you can also use your Account on our Services to
            interact with your accounts on these other Third-Party Services. For example, you may be able to access posting and
            sharing tools on our Services that allow you to post information to your social networks outside of our Services.
            By using these tools or Third-Party Services, you acknowledge that some Personal Data and other information
            (such as your IP address, language preferences, timestamp, and identifiers related to your request) may be transmitted
            to us, and that such information and content is covered by this Privacy Policy. Furthermore, if a tool is operated
            by a Third-Party Service, the Third-Party Service that operates the tool may collect information about your browser
            or online activity, which would be subject to the Third-Party Service’s privacy policy and your account settings
            selected through that Third-Party Service. When you use these tools, some of your information from our Services may be
            shared with the Third-Party Service and others, including selected GIFs.  Therefore, we encourage you to read the
            privacy policies and other policies of any Third-Party Services, including without limitation any applicable social
            networks, that you use in connection with our Services.
        </p>
        <h3>Personal Data Collected Automatically</h3>
        <p>
            We automatically receive and record Personal Data from your web browser or device when you interact with our Services,
            including when you search for, select, view, or receive a GIF. Information that we collect automatically includes your
            IP address, device ID, user query information, and cookie information. This information is used to enable us to
            deliver GIFs to you, to fight spam/malware, to improve the service, and to facilitate collection of Personal Data
            concerning your interaction with our Services (e.g., what links you have clicked on). 
        </p>
        <p>
            Generally, our Services automatically collect usage information, such as the number and frequency of visitors to the
            Site and our Services. We may use this data in aggregate form, for example, as a statistical measure or in other
            anonymous forms, but not in a manner that would identify you personally. This type of aggregate data enables both us
            and third parties authorized by us to determine how often individuals use parts of our Services so that we can analyze
            and improve them.
        </p>
        <h3>Information Collected Using Cookies</h3>
        <p>
            Cookies are pieces of text that may be provided to your computer or device through your web browser when you access a
            website. Your browser stores cookies in a manner associated with each website you visit. We may use cookies to enable
            our servers to recognize your web browser and tell us how and when you visit the Site and otherwise use our Services.
        </p>
        <p>
            Our cookies do not, by themselves, contain Personal Data. However, we may match cookies with your Personal Data to
            identify you, and we may use cookies to identify that your web browser has accessed aspects of our Services and may
            associate that information with your Account if you have one.
        </p>
        <p>
            Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting
            new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance
            of each new cookie in a variety of ways. Leaving cookies active will enable us to improve your user experience and
            analyze website traffic. If you choose not to accept these cookies, some of the features of the Services may not work.
        </p>
        <p>
            This Privacy Policy covers our use of cookies only and does not cover the use of cookies by third parties. We do not
            control when or how third parties place cookies on your computer or device. For example, third-party websites to which
            a link points may set cookies on your computer or device. We encourage you to review the privacy policies of any
            Third-Party Services that you access to better understand how they use cookies or other tracking technologies.
        </p>
        <h3>Aggregate Information</h3>
        <p>
            We collect statistical information about how both unregistered and registered users, collectively, use our Services
            (“Aggregate Information”). While some of this information is derived from Personal Data, the Aggregate Information
            itself is not Personal Data and cannot be tied back to you, or your web browser.
        </p>
        <h3>Personal Data of Children</h3>
        <p>
            As noted in the Terms of Service, we do not knowingly collect or solicit Personal Data from anyone under the age of 13.
            If you are under 13, please do not attempt to register for our Services or send any Personal Data about yourself to us.
            If we learn that we have collected Personal Data from a child under age 13, we will delete that information as quickly
            as possible.
        </p>
        <h3>Personal Data Disclosed In Connection with Related Services</h3>
        <p>
            While we collect and store IP address and device ID information, that information is not made public.
        </p>
        <h3>Personal Data Disclosed for Our Protection and the Protection of Others</h3>
        <p>
            We also reserve the right to access, read, preserve, and disclose any Personal Data as we reasonably believe is
            necessary to: (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce this
            Privacy Policy, our Terms of Service and other relevant terms, including investigation of potential violations hereof,
            (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests,
            or (v) protect our rights, property or safety, our users, and the public. This includes exchanging Personal Data with
            other companies and organizations for fraud protection and spam/malware prevention.
        </p>
        <h2>What Choices Do I Have Regarding My Personal Data?</h2>
        <p>
            <strong>Access and Control Your Personal Data</strong>
        </p>
        <p>
            You can always opt not to provide certain Personal Data to us, but please note that such information may be needed to
            take advantage of some of our features.
        </p>
        <p>
            You can opt-out of certain cookies and tracking technologies by following the steps set forth in the section titled
            “Information Collected Using Cookies” above.
        </p>
        <p>
            Your browser may offer you a “Do Not Track” or “DNT” option, which allows you to signal to operators of websites, 
            web applications, and services that you do not wish such operators to track certain of your online activities over time
            and across different websites. We do not acknowledge this signal.
        </p>
        <h2>How Long Do We Retain Your Personal Data?</h2>
        <p>
            We retain Personal Data about you for as long otherwise necessary to provide you Services.  In some cases, we retain
            Personal Data for longer, if doing so is necessary to comply with our legal obligations, resolve disputes or collect
            fees owed, or is otherwise permitted or required by applicable law, rule, or regulation. Afterwards, we retain some
            information in a depersonalized or aggregated form, but not in a way that would identify you personally.
        </p>
        <h2>Is the Information About Me Secure?</h2>
        <p>
            We store all of our Personal Data, including your IP address information, using industry-standard techniques.
            We do not guarantee or warrant that such techniques will prevent unauthorized access to information about you that we
            store, Personal Data or otherwise. Unauthorized entry or use, hardware or software failure, and other factors, may
            compromise the security of Personal Data at any time.
        </p>
    </div>
</section>
{% endblock %}
