{% extends "ui_pages/base.html" %}

{% block page_title %}Trending GIFs{% endblock %}

{% block page_content %}
{% if needs_title_update %}
    <title>Trending GIFs | Interplanetary GIFs</title>
{% endif %}
<form
    action="/search/"
    class="gif-search"
    hx-get="/search/"
    hx-target="#main-article"
    hx-push-url="true"
    hx-swap="innerHtml show:window:top"
>
    <input
        id="site-search-query"
        type="text"
        name="q"
        placeholder="Search all GIFs..."
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off"
    >
    <button type="submit">Search</button>
</form>
<section class="search-results">
    <h1>Trending GIFs</h1>
    {% if gifs.len() == 0 %}
    <p>No GIFs found.</p>
    {% endif %}
    <div class="gif-grid">
        {% for gif in gifs %}
        <a href="/gif/{{ gif.cid.as_deref().unwrap_or("") }}" class="gif-card">
            <img src="https://ipfs.io/ipfs/{{ gif.cid.as_deref().unwrap_or("") }}?filename={{ gif.filename }}" alt="{{ gif.description }}" loading="lazy">
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
